@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model gummi_bear_kingdom.Models.Product


<div id="create">
    <div class="container paragraphs">
        <h2 class="content-headings">Add New Gummy Bears</h2>
        <br />
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @Html.LabelFor(model => model.Cost)
            @Html.TextBoxFor(model => model.Cost)
            @Html.LabelFor(model => model.Origin)
            @Html.TextBoxFor(model => model.Origin)
            <input type="submit" value="Add" class="btn btn-lg btn-info"/>
        }
        <hr />
        <h3>@Html.ActionLink("Back to Products", "Index")</h3>
    </div>
</div>
