@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model gummi_bear_kingdom.Models.Product

<div id="details">
    <div class="container paragraphs">
        <h2 class="content-headings">Gummy Product Details</h2>
        <br />
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
        <br />
        @Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost) US dollar(s)
        <br />
        @Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin)
        <hr />
        <h3>@Html.ActionLink("Back to Products", "Index")</h3>
    </div>
</div>