@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model gummi_bear_kingdom.Models.Product

<h2>Edit</h2>
<hr />
<h4>Edit this product: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost)

    @Html.LabelFor(model => model.Origin)
    @Html.EditorFor(model => model.Origin)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
