@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<gummi_bear_kingdom.Models.Product>

<div id="products">
    <div class="container paragraphs">
        <h2 class="content-headings">Let's Explore Gummi Bear Kingdom!</h2>
        <br />
       
            @foreach (var listProduct in Model)
            {
                <p>@Html.DisplayFor(modelProduct => listProduct.Name) | @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</p>
            }
        
        <hr />
        <h3>@Html.ActionLink("Add New Product", "Create")</h3>
    </div>
</div>

